<div class="navbar">
  <h1>Yearly Installments</h1>
</div>

<div class="container">
<div class="form-container" [formGroup]="form">
    <label class="form-label">Account Number:</label>
    <input type="text" formControlName="accountNumber" class="form-input" />
  
    <label class="form-label">Name:</label>
    <input type="text" formControlName="name" class="form-input" />
  
    <label class="form-label">Product:</label>
    <input type="text" formControlName="product" class="form-input" />
  
    <label class="form-label">Description:</label>
    <input type="text" formControlName="description" class="form-input" />
  
    <button type="button" (click)="addInstallments()" class="add-more-btn">Add Installments</button>
    <table *ngIf="showInstallmentsTable" class="table">
      <thead>
        <tr>
          <th>Installment Number</th>
          <th>Due Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let installment of installments; let i = index">
          <td><input type="number" [formControl]="installment.installmentNumberControl" class="form-input" /></td>
          <td><input type="date" [formControl]="installment.dueDateControl" class="form-input" /></td>
          <td><input type="number" [formControl]="installment.amountControl" class="form-input" /></td>
        </tr>
      </tbody>
      <button type="button" (click)="saveData()" class="add-more-btn">Save</button>
    </table>      
</div>

<div [formGroup]="form">
  <h3>View your Installments in calendar</h3>
  <label class="form-label">Account Number:</label>
  <input type="text" formControlName="accountNumber" class="form-input" />
  <button type="button" class="view" (click)="fetchDueDateData()">View</button>
</div>

<div class="calendar-container">
  <div class="calendar-controls">
    <button (click)="prevYear()" class="btn">&#8249; </button>
    <h3>{{ currentYear }}</h3>
    <button (click)="nextYear()" class="btn"> &#8250;</button>
  </div>

  <table class="calendar-table">
    <tr>
      <th></th>
      <ng-container *ngFor="let month of months">
        <th>{{ month }}</th>
      </ng-container>
    </tr>
    <ng-container *ngFor="let day of days">
      <tr>
        <td>{{ day.day }}</td>
        <ng-container *ngFor="let dayName of day.dayNames; let j = index">
          <td
            (click)="openInstallmentPopup(day.day, j)"
            [ngClass]="{
              'due-date-cell': isDueDateCell(day.day, j)
            }"
          >
            {{ dayName }}
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </table>
</div>



