
    /* calendarr */

    .container {
        display: flex;
      }
      

    .calendar-table {
        flex: 1;
        margin-left:60px;
        border-collapse: collapse;
        border: 1px solid #ccc; 
    
      }
      
      th, td {
        border: 1px solid #ccc;
        padding: 4px;
        text-align: center;
      }
      
      th.center {
        text-align: center;
      }
  
      .calendar-container {
        display: inline-block;
      }
      